/*
 * Copyright 2012 SURFnet bv, The Netherlands
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* fixes box model*/
div {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

/* body stuff */

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

/* h1 tweaks*/
h1 {
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
    margin: 0 0 10px 0;
}

/* header of page */

.head {
    height: 75px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0px -2px 6px 0px rgba(0, 0, 0, .1);
    background: #f8f8f8;
}

.user-info {
    font-size: 20px;
    font-weight: 200;
    margin-right: 30px;
}

/* side navigation */

.side-nav {
    width: 215px;
    position: absolute;
}

.side-nav ul {
    list-style: none;
    font-size: 16px;
    font-weight: lighter;
    padding: 0;
    line-height: 50px;
    margin: 0;
}

.side-nav a {
    display: block;
    color: #666;
    background-position: 20px center;
    background-repeat: no-repeat;
    text-decoration: none;
    padding-left: 60px;
    line-height: 50px;
    border-bottom: 1px solid #efefef;
}

.side-nav a.cur,
.side-nav a:hover {
    color: #0072bc;
}

.side-nav-servers a {
    background-image: url(../img/icon-servers-grey.png)
}

.side-nav-apps a {
    background-image: url(../img/icon-apps-grey.png)
}

.side-nav-keys a {
    background-image: url(../img/icon-keys-grey.png)
}

.side-nav-stats a {
    background-image: url(../img/icon-stats-grey.png)
}

.side-nav-servers a:hover,
.side-nav-servers a.cur {
    background-image: url(../img/icon-servers-blue.png)
}

.side-nav-apps a:hover,
.side-nav-apps a.cur {
    background-image: url(../img/icon-apps-blue.png)
}

.side-nav-keys a:hover,
.side-nav-keys a.cur {
    background-image: url(../img/icon-keys-blue.png)
}

.side-nav-stats a:hover,
.side-nav-stats a.cur {
    background-image: url(../img/icon-stats-blue.png)
}

/* content div (always next to side-nav) */
.content {
    margin-left: 215px;
    padding: 25px 50px;
    border-left: 1px solid #efefef;
    min-height: 240px;
}

/* full div, for no side-nav */

.full {
    padding: 25px 50px;
}

/* table, makes text fit and col-widths */

.table {
    font-size: 12px;
    margin-bottom: 40px;
}

.key-secret {
    width: 80px;
    display: inline-block;
}

.col-icon {
    width: 70px;
}

.col-about {
    width: 300px;
}

img.tablelogo {
    max-width: 80px;
}

/* consent fixes */

.consent {
    margin: 0 0 18px 0;
    padding: 0 0 18px 0;
    border-bottom: 1px solid #EEE;
}

.consent img {
    margin-right: 20px;
}

/* footer */

.foot {
    clear: both;
    height: 75px;
    padding: 20px;
    border-top: 1px solid #ddd;
    box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, .1);
    background: #f8f8f8;
}

/* removes background and padding on form-actions  */
.form-horizontal .form-actions {
    background: none;
    padding-left: 0;
}

/* left align form label */
.form-horizontal .control-label {
    text-align: left;
}

/* vertical spacing when using stacked fields */
.multiple-fields {
    margin-bottom: 9px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/* the tables for resources and client */
.grid-overview th.col-icon {
    width: 10%;
    text-align: center;
}

.grid-overview th.col-about {
    width: 15%;
}

.grid-overview th.resource-id {
    width: 15%;
}

.grid-overview th.scopes {
    width: 10%;
}

.grid-overview th.col-meta {
    width: 45%;
}

.grid-overview th.actions {
    width: 5%;
}

.copy-clipboard {
    width: 300px;
}


/*
NEW STYLES FOR REGISTRATION PAGES*/

body h2{
    color: #4d4f53 !important;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}
body .message {
    background: none repeat scroll 0 0 #ffffff;
    border-top: medium none;
    box-shadow: none;
    clear: both;
    color: #a6a7a9;
    padding: 10px 20px
}
body > .head {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 2px solid #7b8591;
    box-shadow: none;
    height: 46px;
    padding: 12px;
    position: relative;
}

body > .head .glyphicon-chevron-left,
body > .head .glyphicon-remove
{
    font-size: 26px;
    color: #4d4f53;
    position: absolute;
    top: 10px;
}

body > .head .glyphicon-chevron-left{
    left: 12px;
}

body > .head .glyphicon-remove{
    right: 12px;
}

body > .head #siteUrl{
    display: block;
    margin: 0 auto;
}

body > .sub-head{
    height: 40px;
}

body > .sub-head h1{
    color:#4d4f53;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}

body > .head #siteUrl .logo{

}
.head a[href="#back"],
.head a[href=""],
.head a[href="#"],
.head a[href="#close"] {
    visibility: hidden;
}
body > .full{
    padding: 0px 0px 40px;
    background-color: #f2f2f2;
    max-width:640px;
}

body > .full >#accordion{
    margin-bottom: 0px;
}


.panel-surfstitch {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.panel-surfstitch > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

.panel-surfstitch > .panel-heading .panel-title{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 40px;
    border-top: 1px solid #959595;
}

.panel-surfstitch:first-child > .panel-heading .panel-title {
    border-top: 1px solid transparent;
}

.panel-surfstitch:first-child > .panel-heading .panel-title > a{
    padding: 15px 15px 15px 64px;
}

.panel-surfstitch > .panel-heading .panel-title > a:hover,
.panel-surfstitch > .panel-heading .panel-title > a:active,
.panel-surfstitch > .panel-heading .panel-title > a:focus{
    text-decoration: none;
    outline: none;
}
.panel-surfstitch > .panel-heading .panel-title .header-hero{
   font-size:30px;
   color:#959595;
   margin-top: 30px;
   padding-left: 10px;
   display: none;
   font-weight: normal;
}
.panel-surfstitch > .panel-heading .panel-title .header-hero > span:first-child{
    font-size:30px;
    display:block;
    margin-bottom:10px
}
.panel-surfstitch > .panel-heading .panel-title .header-hero > span:last-child{
    font-size:24px;
    display:block;
    line-height:130%;
}
.panel-surfstitch > .panel-heading .panel-title > .collapsed+.header-hero{
    display:block;
}
.panel-surfstitch > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    padding: 5px 9px 20px;
    border-width: 1px;
}
.panel-surfstitch > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-surfstitch > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}
.panel-group .panel-surfstitch + .panel {
    margin-top: 0px;
    border-bottom: 1px solid #959595;
    padding-bottom: 28px;
}
.panel-group .panel-surfstitch {
    border-radius: 0px;
    margin-bottom: 35px;
    background-color: transparent;
    border: none;
}
.panel-group .panel-surfstitch .panel-title > a{
    padding: 16px 9px;
    display: block;
    position: relative;
}
.panel-group .panel-surfstitch .panel-title > a .fontello{
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 40px;
    height: 40px;
    margin-top: -20px;
    width: 40px;
    text-align: center;
    text-indent: -5px;
}
.panel-group .panel-surfstitch .panel-title > a .main-title{
    display:block;
    font-size:40px;

}
.panel-group .panel-surfstitch .panel-title > a .sub-title{
    display:block;
    font-style:italic;
    font-weight:normal;
    font-size:26px
}
.panel-group .panel-surfstitch .panel-title > a .glyphicon:before{
    content: "\2212";
}
.panel-group .panel-surfstitch .panel-title > a.collapsed .glyphicon:before{
    content: "\2b";
}
.panel-group .panel-surfstitch .panel-title > a{
    background: transparent;
    color: #aeaeae;
    border-radius: 14px;
    padding: 15px 15px 15px 64px;
}
.panel-group .panel-surfstitch .panel-title > a.collapsed{
    background: #65b2db;
    color: white;
}
.panel-group .panel-surfstitch .panel-title > a .state-open{
    display:block;
}
.panel-group .panel-surfstitch .panel-title > a .state-closed{
    display:none;
}
.panel-group .panel-surfstitch .panel-title > a.collapsed .state-open{
    display:none!important;
}
.panel-group .panel-surfstitch .panel-title > a.collapsed .state-closed{
    display:block!important;
}

.panel-group .panel-surfstitch .panel-title > a#returningCustomerLink{
    
}

#guestCheckout{
    background: #959595;
    color: white;
    text-decoration: none;
    border-radius: 14px;
    padding: 15px 15px 15px 64px;
    display: block;
    position: relative;
}
#guestCheckout .main-title{
    display: block;
    font-size: 40px;
    line-height: 105%;
}
#guestCheckout .sub-title{
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 105%;
}
#guestCheckout .fontello{
    position: absolute;
    top: 50%;
    left: 16px;
    font-size: 38px;
    height: 40px;
    margin-top: -25px;
    width: 40px;
    text-align: center;
    text-indent: -5px;
}
                                                                                                                                                             
body > .foot{
    background: none repeat scroll 0 0 #ffffff;
    border-top: none;
    box-shadow: none;
    clear: both;
    height: 112px;
    padding: 20px 20px;
}

label{
    color: #4d4f53;
    font-weight: normal;
}
label.error, #registerErrorMessage, #loginErrorMessage, #forgorPasswordResultMessage{
    color: #ff8484 !important;
    font-weight: normal;
}
.form-group {
    margin-bottom: 10px;
}
.help-block {
    color: #959595;
    display: block;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 35px;
    padding: 0 10px;
}
.form-control{
    background-color: #fff;
    background-image: none;
    border: 1px solid #959595;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: #000000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 111, 111, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 111, 111, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}
.bootstrap-select.input-lg, 
.bootstrap-select.form-group-lg 
.bootstrap-select.form-control{
    height: 49px;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #fff;
    font-weight: bold;
    text-transform: none;
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
    text-shadow: none;
}
.btn:active,
.btn.active {
    background-image: none;
}
.btn-default {
    text-shadow: none;
    background-image: none;
    filter: none;
    border-color: #4d4f53;
    background-color: #ffffff;
    color: #4d4f53;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #4d4f53;
    background-position: 0 -15px;
    color: #ffffff;
    border-color: #6abb58;
}
.btn-default:active,
.btn-default.active {
    background-color: #4d4f53;
    border-color: #4d4f53;
    color: #ffffff;
}
.btn-default:disabled,
.btn-default[disabled] {
    background-color: #e0e0e0;
    background-image: none;
}
.btn-primary {
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
    border-color: #6abb58;
    background-color: #6abb58;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #4d4f53;
    border-color: #4d4f53;
    color: #fff;
    background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
    background-color: #4d4f53;
    border-color: #4d4f53;
    color: #fff;
}
.btn-primary:disabled,
.btn-primary[disabled] {
    background-color: #95979b;
    background-image: none;
}
.btn-success {
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
    background-color: #419641;
    background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
    background-color: #419641;
    border-color: #3e8f3e;
}
.btn-success:disabled,
.btn-success[disabled] {
    background-color: #419641;
    background-image: none;
}
.btn-info {
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image:      -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
    background-image:         linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #28a4c9;
}
.btn-info:hover,
.btn-info:focus {
    background-color: #2aabd2;
    background-position: 0 -15px;
}
.btn-info:active,
.btn-info.active {
    background-color: #2aabd2;
    border-color: #28a4c9;
}
.btn-info:disabled,
.btn-info[disabled] {
    background-color: #2aabd2;
    background-image: none;
}
.btn-warning {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
    background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
    background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #e38d13;
}
.btn-warning:hover,
.btn-warning:focus {
    background-color: #eb9316;
    background-position: 0 -15px;
}
.btn-warning:active,
.btn-warning.active {
    background-color: #eb9316;
    border-color: #e38d13;
}
.btn-warning:disabled,
.btn-warning[disabled] {
    background-color: #eb9316;
    background-image: none;
}
.btn-danger {
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}
.btn-danger:hover,
.btn-danger:focus {
    background-color: #c12e2a;
    background-position: 0 -15px;
}
.btn-danger:active,
.btn-danger.active {
    background-color: #c12e2a;
    border-color: #b92c28;
}
.btn-danger:disabled,
.btn-danger[disabled] {
    background-color: #c12e2a;
    background-image: none;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
    font-size: 40px;
    line-height: 1.33;
    font-weight: bold;
    padding: 12px 12px;
}
#loginButton-1{
    /*background-color: #00b9e6;
    color: #ffffff;
    border-color: #00b9e6;*/
    background-color: #6abb58;
    color: white;
    border: 1px solid #6abb58;
    line-height: 75px;
}
#loginButton-1:hover, #loginButton-1:focus, #loginButton-1:active{
    /*background-color: white;
    border: 2px solid #00b9e6;
    color: #00b9e6;*/

}
#loginButton-2{
    background-color: #6abb58;
    color: white;
    border: 1px solid #6abb58;
    display: none;
}
#loginButton-2:hover, #loginButton-2:focus, #loginButton-2:active{
    /*background-color: white;
    border: 2px solid #00b9e6;
    color: #00b9e6;*/

}
#loginButton-2[data-state="forgot_password_call"]{
    display: block;
}
#forgotPasswordButton[data-state="login_invoke"]{
    margin-top: 15px;
}
#forgotPasswordButton{
    color: #959595;
    border-color: transparent;
    background-color: transparent;
    font-size: 18px;
    padding: 0;
    text-align: left;
    font-weight: normal;
}
#forgotPasswordButton:hover, #forgotPasswordButton:focus, #forgotPasswordButton:active{
    /*background-color: white;
    border: 2px solid #00b9e6;*/

}
#loginButton-1, #forgotPasswordButton{
    /*font-size: 14px;
    padding: 12px 12px;*/
}

.form-group .selectpicker.btn-lg{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none!important;
    background-color: #ffffff;
    border-color: #959595;
    color: #959595;
    text-transform: none;
    font-weight: normal;
    font-size: 18px;
}
.form-group .selectpicker.btn-lg:hover{
    border-color: #4d4f53;
    outline: none;
    background-color: #ffffff;
}
.form-group .selectpicker.btn-lg:active, .selectpicker.btn-lg:focus, .open .selectpicker.btn-lg{
    border-color: #4d4f53;
    outline: 0px !important;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 111, 111, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 111, 111, .6);
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
select:hover,
select:focus,
button:focus,
button:active,
button:hover,
a:focus,
a:active,
a:hover,
input:focus {
    outline:0px !important;
    -webkit-appearance:none;
    outline-color: inherit;
    outline-style: none;
    outline-width: medium;
}
button::-moz-focus-inner {
    border: 0;
    outline-color: inherit;
    outline-style: none;
    outline-width: medium;
}
a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: none !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #4d4f53;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 111, 111, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(111, 111, 111, .6);
}
.dropdown-menu > li > a{
    color: #4d4f53;
    font-weight: bold;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #f2f2f2;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
    color: #4d4f53;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #f2f2f2;
    background-image: none;
    filter: none;
    background-repeat: repeat-x;
}
.bootstrap-select.btn-group .dropdown-menu li{
    border-top: 1px solid #4d4f53;
}
.bootstrap-select.btn-group .dropdown-menu li:first-child{
    border-top: none;
}
#ssl-safe{
    background: url("/client/img/SSL-Icons.png") no-repeat;
    width: 89px;
    height: 90px;
    display: block;
    overflow: hidden;
    text-indent: -9em;
    margin: 0 auto;
}
#socialLinks{
    list-style: none;
    padding: 0;
    margin: 0px;
}
#socialLinks li{
    float: left;
    margin-right: 10px;
}

#socialLinks li a{
    background: url("/client/img/icons.png") no-repeat;
    width: 45px;
    height: 45px;
    display: block;
    overflow: hidden;
    text-indent: -9em;
}

#socialLinks li a#facebook{
    background-position: 0 0;
}
#socialLinks li a#twitter{
    background-position: -58px 0px;
}
#socialLinks li a#instagram{
    background-position: -117px 0;
}
#socialLinks li a#google{
    background-position: -175px 0;
}
#socialLinks li a#pinterest{
    background-position: -233px 0;
}


/* Phones */
@media only screen and (max-width : 767px){
    body > .full{
        padding-left: 10px;
        padding-right:10px;
    }
    .panel-group .panel-surfstitch{
        margin-bottom:20px;
    }
    .panel-surfstitch > .panel-heading .panel-title{
        padding-top:20px
    }
    .panel-group .panel-surfstitch .panel-title > a .main-title{
        font-size:22px
    }
    .panel-group .panel-surfstitch .panel-title > a .sub-title{
        font-size:16px
    }
    .panel-group .panel-surfstitch .panel-title > a .fontello{}
    #forgotPasswordButton{
        margin-top:15px;
        text-align:center;
    }
    #loginButton-1{
        line-height: 50px;
    }
    .panel-surfstitch > .panel-heading .panel-title .header-hero{
        font-size:16px;
        margin-top: 15px;
    }
    .panel-surfstitch > .panel-heading .panel-title .header-hero > span:first-child{
        font-size:18px;
    }
    .panel-surfstitch > .panel-heading .panel-title .header-hero > span:last-child{
        font-size:16px;
    }
    #loginButton-2[data-state="forgot_password_call"]{
        display: block;
        font-size: 26px;
    }
    #guestCheckout{

    }
    #guestCheckout .main-title{
        font-size: 22px;
        line-height: 105%;
    }
    #guestCheckout .sub-title{
        font-size: 15px;
        line-height: 105%;
    }
    #guestCheckout .fontello{
font-size: 32px;
left: 18px;
margin-top: -22px;
}
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    body > .full{
        padding-left:70px;
        padding-right:70px;
    }
}
